*{
    background-color:none;
    text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);

}
/*Was trying to add a background image but failed*/
.navbar{
    padding:1rem;
}
.navbar-brand{
    font-size:2rem;
}

body{
    border:none;
    box-shadow:none;
    background-color:lightblue;
}

.card-header{
    background-color:white;
}

p{
    font-size:1rem;
    line-height:small;
    align-self:center;
    background-color:transparent;
    margin-bottom:.25rem;
}

#cities{
    color:#467599;
    font-weight:bold;
    font-size:1.1rem;
}
.citiesList{
    border-radius:10px;
    width:auto;
}
/*Header text*/
#mainText{
    color:black;
    box-shadow:none;
    padding:.75rem;
}
 /*Current weather section*/   
#currentWeather{
    padding-top:1rem;
    color:black;
}
/*Five day Cards*/
.card {
    border:none;
    box-shadow:none;
    background-color:transparent;
    color:black;
}

.sidebar{
    background-color: white;
}

#fiveDayForecast{
    size:small;
   padding-top:1rem;
   font-weight:bold;
   font-size:1.5rem;
   background-color:transparent;
   color:black;
   text-align:center;
}
/*Icons for weather types*/
#icon{
    border-bottom:#467599 3px solid;
    background-color:transparent;
 }
/*Borders and sizing for five days*/
 .individualDays{
     size:small;
     border-radius:10px;
     margin:.30rem;
     padding-top:1rem;
     padding-left:0rem;
     padding-right:0rem;
     background-color:rgb(255,255,255);
     color:black;
     box-shadow:0 3px 3px rgb(0,0,0,.5);
 }
/*search button*/
 #btn{
     background-color: #467599;
 }

 .container{
     border-radius:20px;
 }

 .card-text{
     padding:0rem;
     line-height:normal;
     margin-bottom:none;
 }

 .card-body{
     padding:0rem;
 }

 .rightside{
     border-radius:20px;
     background-color:white;
     color:black;
 }

 .humidity .green{
     color:green;
 }

 .humidity .yellow{
     color:yellow;
 }

 p .humidity .red{
     color:red;
     background-color:yellow;
 }

 .humidity .nocolor{
     color:white;
 }

 .dailyWeatherIcon{
     height:4rem;
     width:auto;
     padding:0rem;

 }